<html>
<head>
  <title>My URL "Shortener"</title>
  <link href="application.css" rel="stylesheet" type="text/css">
</head>
<body>
<form>
  <input type="text" name="url_to_shorten">
  <input type="submit" value="Shorten">
</form>
</body>
</html>

