<html>
<head>
  <title>My URL "Shortener"</title>
  <link href="application.css" rel="stylesheet" type="text/css">
</head>
<body>
<form action="/shortened_url" method="post">
  <input type="text" name="url_to_shorten" placeholder='Enter the URL you would like to "shorten"'>
  <input type="submit" value="Shorten">
</form>
</body>
</html>

