<html>
<head>
  <title>My URL "Shortener"</title>
  <link href="application.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="content">
  <table>
    <tr>
      <td>Original URL</td>
      <td><%= original_url %></td>
    </tr>
    <tr>
      <td>"Shortened" URL</td>
      <td><%= shortened_url %></td>
    </tr>
  </table>
</div>
</body>
</html>